---
import Layout from "../layouts/Layout.astro";
import SectionHeader from "../components/SectionHeader.astro";
---

<Layout title="About">
	<section class="wrapper">
		<SectionHeader>
			<h1>About</h1>
		</SectionHeader>
	</section>
</Layout>