<div class="nav__social-panel">
  <a
    class="nav__social-pill"
    href="https://www.instagram.com/_isthatjeff/"
    target="_blank"
    rel="noopener noreferrer"
  >IG</a>
  <a
    class="nav__social-pill"
    href="https://www.linkedin.com/in/jeffrey-herrera/"
    target="_blank"
    rel="noopener noreferrer"
  >LI</a>
  <a class="nav__social-pill" href="mailto:HERRERA.JEFFREY@GMAIL.COM">HERRERA.JEFFREY@GMAIL.COM</a>
</div>
